<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/javascript/jquery-3.5.1.min.js"></script>
</head>
<br>
<header>
    <div>
        <div>
            <a href="/login/main/<%=sid%>" style="color: blueviolet;font-size: 3.0em;font-weight: bold;text-decoration:none;text-align:left;">TOG 정보관리 시스템</a>
            <br></br>
        </div>
        <div>
            <a href="/login/mypage/<%=sid%>" style="color: black;font-size: 2.0em;text-decoration:none;text-align:right;">마이페이지  |</a>
            <a href="/login/register/<%=sid%>" style="color: black;font-size: 2.0em;text-decoration:none;text-align:right;">수강신청  |</a>
            <a href="/login/drop/<%=sid%>" style="color: black;font-size: 2.0em;text-decoration:none;text-align:right;">수강포기  |</a>
            <a href="/login/search/<%=sid%>" style="color: black;font-size: 2.0em;text-decoration:none;text-align:right;">시간표조회  |</a>
            <a href="/login/simul/<%=sid%>" style="color: black;font-size: 2.0em;text-decoration:none;text-align:right;">시뮬레이션</a>
        </div>
    </div>
</header>
<body>
<br><br>
<h1>수강 과목 현황</h1>
<br><br>
<table id="course_table" style="width: 100%; display: table; text-align: center;" border="1">
    <colgroup>
        <col width="45%">
        <col width="45%">
        <col width="10%">
    </colgroup>
    <thead>
    <tr style="border-bottom: 1px solid #dce3eb; font-weight: bold; height: 30px; background-color: grey;">
        <td>과목</td>
        <td>학점</td>
    </tr>
    </thead>
    <tbody>
    <%
    for(var i=0; i<rows.length; i++){
        var oneItem = rows[i];
    %>
    <tr style="border-bottom: 1px solid #dce3eb; height: 30px" class="checkTr">
        <td style="font-weight: bold;color: black;font-size: 1.0em;text-decoration:none;"><%=oneItem.cname%></td>
        <td><%=oneItem.credit_hours%></td>
    </tr>
    <%
    }
    %>
    </tbody>
</table>
<br><br>
<h1>수강 포기</h1>
<br>
<table border="1" width = "100%" style="text-align: center;">
    <colgroup>
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
    </colgroup>
    <tr style="background-color: grey;">
        <td>학번</td>
        <td>이름</td>
        <td>과목명</td>
        <td>비밀번호</td>
    </tr>
    <tr>
        <td><span id="student_id"><%=sid%></span></td>
        <td><%=info.sname%></td>
        <td><span id="course_name"></span></td>
        <td><input type="password" id="password"></td>
    </tr>
</table>
<input type="hidden" id="pass" value="<%=info.passwd%>"/>
<div style="float: right;"><button type="submit" id="submitBtn">수강포기</button></div>
<script>
    $(".checkTr").click(function(){
        var tr = $(this);
        var td = tr.children();
        var name = td.eq(0).text();

        $("#course_name").html(name);
        return true;
    })

    $("#submitBtn").click(function(){
        var pass = document.getElementById("pass").value;
        var s_id = document.getElementById("student_id").innerHTML;
        s_id = JSON.stringify(s_id);
        s_id = JSON.parse(s_id);
        var cname = document.getElementById("course_name").innerHTML;
        console.log(s_id);
        console.log(cname);
        if($("#password").val() != pass){
            $("#password").val("");
            $("#password").focus();
            alert("비밀번호가 일치하지 않습니다.");
            return false;
        }
        else{
            confirm("정말로 수강을 포기하시겠습니까?");
            $.ajax({
                url: '/login/drop/' + s_id,
                type: 'post',
                data: {"student_id": s_id, "course_name": cname},
                success: function(data){
                    location.reload();
                }
            });
        }
    })
</script>
</body>
</html>