<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/javascript/jquery-3.5.1.min.js"></script>
</head>
<header>
    <div>
        <div>
            <a href="/login/main/<%=sid%>" style="color: blueviolet;font-size: 3.0em;font-weight: bold;text-decoration:none;text-align:left;">TOG 정보관리 시스템</a>
            <br></br>
        </div>
        <div>
            <a href="/login/mypage/<%=sid%>" style="color: black;font-size: 2.0em;text-decoration:none;text-align:right;">마이페이지  |</a>
            <a href="/login/register/<%=sid%>" style="color: black;font-size: 2.0em;text-decoration:none;text-align:right;">수강신청  |</a>
            <a href="/login/drop/<%=sid%>" style="color: black;font-size: 2.0em;text-decoration:none;text-align:right;">수강포기  |</a>
            <a href="/login/search/<%=sid%>" style="color: black;font-size: 2.0em;text-decoration:none;text-align:right;">시간표조회  |</a>
            <a href="/login/simul/<%=sid%>" style="color: black;font-size: 2.0em;text-decoration:none;text-align:right;">시뮬레이션</a>
        </div>
    </div>
</header>

<body>
<br></br><br></br><br></br>
<div>
    <a style="color: black;font-size: 2.0em;text-decoration:none;text-align:left;"><%=title%></a>
</div>
<br> <br> <br> <br> <br> <br> <br>
<div width="100%" style="text-align:center">
    <span style="color: gray;font-size: 2.0em;text-decoration:none;">지금은 <%=title%> 기간이 아닙니다.</span>
    <br>
    <span style="color: gray;font-size: 2.0em;text-decoration:none;">(<%=year%>/<%=start_day%> ~ <%=year%>/<%=end_day%>).</span>
</div>
</body>
</html>